<div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2>Enregistrer un nouvel article</h2>
          <form [formGroup]="blogForm" (ngSubmit)="onUpadateBlog()">
            <div class="form-group">
              <label for="title">Titre</label>
              <input type="text" id="title"
                     class="form-control" value="blog.title" formControlName="title">
            </div>
            <div class="form-group">
              <label for="author">Auteur</label>
              <input type="text" id="author"
                     class="form-control" value="blog.author" formControlName="author">
            </div>
            <div class="form-group">
              <label for="contenu">Contenu</label>
              <textarea id="contenu"
                        class="form-control" value="blog.contenu" formControlName="contenu">
              </textarea>
            </div>
            <div class="form-group">
                <h4>Ajouter une photo</h4>
                <input type="file" (change)="detectFiles($event)"
                       class="form-control" accept="image/*">
                <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
            </div>
            <button class="btn btn-success" [disabled]="blogForm.invalid || fileIsUploading"
                  type="submit">Enregistrer
            </button>
      
          </form>
          <button class="btn btn-default" (click)="onBack()">Retour</button>
        </div>
      </div>
    
